<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="isLoading">Loading...</ion-title>
        <ion-title *ngIf="!isLoading">{{chat ? chat.title : null}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollEvents]="true">
    <ion-list lines="none">
        <ion-item *ngFor="let msg of messages">
            <chat-bubble [chatMessage]="msg"></chat-bubble>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <chat-input [user]="currentUser" [chat]="chat"></chat-input>
</ion-footer>