<ion-header>
    <ion-toolbar>
        <ion-title>info</ion-title>
        <ion-buttons slot="end">
            <ion-button class="badge-button" routerLink="/cart" routerDirection="forward">
              <ion-icon name="basket-outline">
              </ion-icon>
              <ion-badge class="badge-one" color="danger" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col></ion-col>
                <ion-col>
                    <img *ngIf="shop && shop.mediaUrl" [src]="shop.mediaUrl" />
                    <img *ngIf="!shop || !shop.mediaUrl" src="assets/images/antica-contea-trasparent.png" />
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-grid>

        <ion-card-header>
            <ion-card-subtitle>{{shop?.description}}</ion-card-subtitle>
            <ion-card-title>{{shop?.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-icon name="call-outline"></ion-icon>
                    <ion-label>{{shop?.phone}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="locate-outline"></ion-icon>
                    <ion-label>{{shop?.address}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-icon name="time-outline"></ion-icon><span class="margin-left-10">Orari</span></ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>Lunedì - {{shop?.hours.monday}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Martedì - {{shop?.hours.tuesday}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Mercoledì - {{shop?.hours.wednesday}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Giovedì - {{shop?.hours.thursday}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Venerdì - {{shop?.hours.friday}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Sabato - {{shop?.hours.saturday}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Domenica - {{shop?.hours.sunday}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>