<ion-grid class="cardON">
  <ion-row>
    <ion-col class="state">
      <div class="msg">
        <span class="ON"></span>ON
      </div>
    </ion-col>
    <ion-col>
      <div *ngIf="this.card.cardNumber?.length > 0 && !isCardNumberCorrect">
        <p [class.invalid]="!isCardNumberCorrect">{{card.errorMessage}}</p>
      </div>
    </ion-col>
    <ion-col class="logo">
      <ion-img class="brand" src="{{cardLogoUrl}}"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row class="digits">
    <ion-col class="number">
      <input [readonly]="true" class="card-number-input-center" inputmode="numeric" [ngModel]="card.cardNumber"
        [textMask]="{mask: cardMaskFunction, guide: false, showMask: true}" placeholder="---- ---- ---- ----">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-row>
      <ion-datetime readonly class="date" min="2021" max="2099-10-31" display-format="MM/YY" [ngModel]="card.expires" placeholder="-- / --" ></ion-datetime>
    </ion-row>
    <ion-col>
      <ion-input readonly class="ccv" inputmode="numeric" type="number" [ngModel]="card.ccv" placeholder="CCV"></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-list lines="full" class="ion-no-margin">
    <ion-item>
      <ion-label position="stacked">{{'CREDITCARD.CARDNUMBER' | translate}}</ion-label>
      <input class="card-number-input" inputmode="numeric" [ngModel]="card.cardNumber" (ngModelChange)="cardValueChange($event)"
      [textMask]="{mask: cardMaskFunction, guide: false, showMask: true}">
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'CREDITCARD.EXPIREDATE' | translate }}</ion-label>
      <ion-datetime class="date" min="2021" max="2099-10-31" display-format="MM/YY" (ngModel)="card.expires" (ionChange)="expYearChange($event.target.value)" picker-format="MM/YY" placeholder="-- / --"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'CREDITCARD.CCV' | translate }}</ion-label>
      <ion-input type="number" (ngModel)="card.ccv" (ionInput)="ccvValueChange($event.target.value)"></ion-input>
    </ion-item>
  </ion-list>
</ion-grid>
