<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'TABS.POSTS.TEXT' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="badge-button" routerLink="/cart" routerDirection="forward">
        <ion-icon name="basket-outline">
        </ion-icon>
        <ion-badge class="badge-one" color="danger" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-grid>
        <ion-row *ngFor="let post of posts">
          <ion-col size="0" size-md="3">
          </ion-col>
          <ion-col size="12" size-md="6">
            <app-post-card [post]="post"></app-post-card>
          </ion-col>
          <ion-col size="0" size-md="3">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>



</ion-content>