<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-item>
        <ion-avatar slot="start" *ngIf="currentUser && currentUser.photoURL">
          <img [src]="currentUser.photoURL">
        </ion-avatar>
        <ion-avatar slot="start" *ngIf="!currentUser || !currentUser.photoURL">
          <img class="avatar-none" src='assets/icons/people-circle-outline.svg'>
        </ion-avatar>
        <ion-label>{{currentUser ? currentUser.displayName : null}}</ion-label>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <input #fileInput style="display: none;" type="file" accept="image/*" (change)="uploadImage($event)">
        <img style="max-height: 250px" [src]="currentUser.photoURL" *ngIf="currentUser && currentUser.photoURL" (click)="fileInput.click()">
        <img style="max-height: 250px" src="assets/icons/people-circle-outline.svg" (click)="fileInput.click()"
          *ngIf="!currentUser || !currentUser.photoURL">
      </ion-row>
    </ion-grid>

    <ion-card-header>
      <ion-card-subtitle>
        <ion-item>
          <ion-label>Username: </ion-label>
          <ion-input type="text" [(ngModel)]="currentUser.displayName" name="name"></ion-input>
        </ion-item>
      </ion-card-subtitle>
      <ion-card-title>
        <ion-item>
          <ion-label>Email: </ion-label>
          <ion-input [(ngModel)]="currentUser.email" name="email"></ion-input>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
    <input #fileInput style="display: none;" type="file" accept="image/*" (change)="uploadImage($event)">
    <ion-item>
      <ion-label>Dark mode:</ion-label>
      <ion-toggle [(ngModel)]="currentUser.userSettings.darkModeActive" (ionChange)="toggleDarkMode()">Dark Mode
      </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-button slot="end" expand="block" type="submit" (click)="saveChanges()">Save</ion-button>
    </ion-item>
  </ion-card>


</ion-content>