<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="success" class="main-header6">Edit address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <div class="ion-margin ion-padding-top">

    <form [formGroup]="addressForm" novalidate>
      <ion-list lines="">
        <ion-item>
          <ion-label position="floating">{{ 'ADDADDRESS.ADDRESSLABEL' | translate }}</ion-label>
          <ion-input type="text" formControlName="label" placeholder="{{ 'ADDADDRESS.ADDRESSLABELEXAMPLE' | translate }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'ADDADDRESS.NAME' | translate }}</ion-label>
          <ion-input type="text" formControlName="fullname" placeholder="Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'ADDADDRESS.ADDRESS' | translate }}</ion-label>
          <ion-input type="text" formControlName="address1" placeholder="{{ 'ADDADDRESS.ADDRESS1' | translate }}"></ion-input>
          <!--
            <ion-input type="text" formControlName="address2" placeholder="{{ 'ADDADDRESS.ADDRESS2' | translate }}"></ion-input>
          -->
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'ADDADDRESS.CITY' | translate }}</ion-label>
          <ion-input type="text" formControlName="city" placeholder="{{ 'ADDADDRESS.CITY' | translate }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'ADDADDRESS.PROVINCE' | translate }}</ion-label>
          <ion-select formControlName="place" placeholder="{{ 'ADDADDRESS.SELECTPROVINCE' | translate }}" interface="popover">
                <div *ngFor="let place of places">
                  <ion-select-option [value]="place">{{place.sigla}}
                  </ion-select-option>
                </div>
              </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'ADDADDRESS.CAP' | translate }}</ion-label>
          <ion-input type="number" formControlName="cap" placeholder="{{ 'ADDADDRESS.CAP' | translate }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'ADDADDRESS.PHONENUMBER' | translate }}</ion-label>
          <ion-input type="number" formControlName="phone" placeholder="{{ 'ADDADDRESS.PHONENUMBER' | translate }}"></ion-input>
        </ion-item>
      </ion-list>
    </form>

    <!-- Error meassage -->
    <p color="danger" *ngIf="!addressForm.controls.label.valid && addressForm.controls.label.touched">
      <ion-text color="warning">
        <ion-icon name="information-circle-outline"></ion-icon> {{ 'ADDADDRESS.ADDRESSLABELNOTVALID' | translate }}
      </ion-text>
    </p>
    <p color="danger" *ngIf="!addressForm.controls.fullname.valid && addressForm.controls.fullname.touched">
      <ion-text color="warning">
        <ion-icon name="information-circle-outline"></ion-icon> {{ 'ADDADDRESS.FULLNAMENOTVALID' | translate }}
      </ion-text>
    </p>
    <p color="danger" *ngIf="!addressForm.controls.phone.valid && addressForm.controls.phone.touched">
      <ion-text color="warning">
        <ion-icon name="information-circle-outline"></ion-icon> {{ 'ADDADDRESS.PHONENUMBERNOTVALID' | translate }}
      </ion-text>
    </p>
    <p color="danger" *ngIf="!addressForm.controls.address1.valid && addressForm.controls.address1.touched">
      <ion-text color="warning">
        <ion-icon name="information-circle-outline"></ion-icon> {{ 'ADDADDRESS.ADDRESSNOTVALID' | translate }}
      </ion-text>
    </p>


    <!-- <ion-button mode="ios" color="orange" expand="block" fill="outline" class="ion-margin-top">
          Signinewwewe
      </ion-button> -->

  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="success" expand="block" [disabled]="!addressForm.valid" (click)="editAddress()">{{ 'APP.UPDATE' | translate }}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" expand="block" fill="blank" (click)="delAddress()">{{ 'APP.DELETE' | translate }}</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" fill="blank" expand="block" (click)="close()">{{ 'APP.CANCEL' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  
</ion-footer>