<ion-header class="ion-no-border">
  <ion-toolbar class="first">
    <ion-title class="main-b-header6">Size EDIT</ion-title>
    <ion-buttons slot="end">
      <ion-button routerDirection="root" (click)="close()">
        <ion-icon name="close-outline" color="success"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Label:</ion-label>
      <ion-input type="text" [(ngModel)]="size.value"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Price:</ion-label>
      <ion-input type="number" [(ngModel)]="size.price"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <ion-button color="danger" expand="block" (click)="remove()">
            Delete
            <ion-icon name="skull-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="success" expand="block" (click)="save()">
            Save
            <ion-icon class="margin-left-10" name="save-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-footer>