<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/tabs/user-profile" routerDirection="root">
                <ion-icon name="close-outline" color="success"> </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="success">{{ 'APP.VERIFYEMAIL' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="logo-box">
        <ion-icon class="notification pop-in" name="mail-outline" color="light"></ion-icon>
    </div>
    <div class="ion-text-center padding-all-15">
        <ion-text color="ulightgrey" class="ion-margin-bottom">
            <h1 class="main-header5">{{ 'APP.CHECKEMAILVERIFICATION' | translate }}</h1>
        </ion-text>
    </div>
    <div class="padding-all-15">
        <ion-button type="submit" (click)="authService.sendVerificationMail()" expand="block">
            {{ 'APP.RESENDVERIFICATIONEMAIL' | translate }}
        </ion-button>
    </div>
</ion-content>