
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{order.userProfile.userFirstname}} {{order.userProfile.userLastname}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Address</ion-col>
          <ion-col><ion-label>{{order.address?.city}} ({{order.address?.place.sigla}}), {{order.address?.place.regione}}</ion-label></ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col><ion-label>{{order.address?.address1}} {{order.address?.address2}}</ion-label></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Cap</ion-col>
          <ion-col><ion-label>{{order.address?.cap}}</ion-label></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Phone</ion-col>
          <ion-col><ion-label>{{order.address?.phone}}</ion-label></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Payment</ion-col>
          <ion-col>
            <span [ngSwitch]="order.paymentType">
              <ion-label *ngSwitchCase="'cc'">{{'CARTCHECKOUT.CREDITCARD' | translate}}</ion-label>
              <ion-label *ngSwitchCase="'cash'">{{'CARTCHECKOUT.CASH' | translate}}</ion-label>
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <span *ngIf="order.status=='pending'" class="badge badge-pill badge-soft-success font-size-12">{{order.status}}</span>
        <span *ngIf="order.status=='taked'" class="badge badge-pill badge-soft-warning font-size-12">{{order.status}}</span>
        <span *ngIf="order.status=='completed'" class="badge badge-pill badge-soft-dark font-size-12">{{order.status}}</span>
        <span *ngIf="order.status=='refund'" class="badge badge-pill badge-soft-danger font-size-12">{{order.status}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
        <ion-list>
              <ion-item lines="none" *ngFor="let item of order.orderItems; let i = index" lines="none" class="ion-margin-top">
                  <ion-thumbnail slot="start">
                      <ion-img [src]="item.image"></ion-img>
                  </ion-thumbnail>
                  <ion-label  class="text-left">
                    
                    <h3>{{ item.name }}</h3>
                    <p>{{item.size.value}}</p>
                    <p>
                      {{'CART.QUANTITY' | translate }}: <span>{{ item.quantity}}	&nbsp;</span>
                    </p>
                    <!-- <ion-icon name="trash" slot="end" color="dark" (click)="removeCartProduct(i) " ></ion-icon> -->
                  </ion-label>
                  <h5  slot="end" text-right class="main-header7" >{{ item.price | currency:'EUR':'symbol' }}</h5>
                </ion-item>
                <ion-item lines="none" class="ion-margin-top">
                  <ion-label  class="text-left">
                      <h1 class="main-b-header8">{{'CARTCHECKOUT.DELIVERFEE' | translate}}</h1>
                  </ion-label>
                  <h5 class="margin-top-5" slot="end" text-right class="main-b-header8" >{{ order.shipmentFee | currency:'EUR':'symbol' }}</h5>       
              </ion-item>
          <ion-item lines="none" class="ion-margin-top">
            <ion-label  class="text-left">
                <h1 class="main-b-header8">{{'CART.TOTAL' | translate}}</h1>
            </ion-label>
            <h5 class="margin-top-5" slot="end" text-right class="main-b-header8" >{{ order.totalPrice | currency:'EUR':'symbol' }}</h5>       
        </ion-item>
          <!-- <ion-item class="ion-margin-top">
            Total: <span slot="end">{{ total | currency:'USD':'symbol' }}</span>
          </ion-item>-->
        </ion-list> 
    </ion-card-content>
    
    <ion-button class="margin-top-10" (click)="close()" expand="block">Close</ion-button>
  </ion-card>
  
</ion-content>