<ion-header>
  <ion-toolbar>
    <ion-title>Choose an Option</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="deleteComment()">Delete</ion-item>
    <ion-item lines="none" detail="false" button (click)="closeModal()">Close</ion-item>
  </ion-list>
</ion-content>
