<ion-toolbar>
    <ion-grid>
        <ion-row *ngIf="fileUrl">
            <ion-col></ion-col>
            <ion-col>
                <ion-item>
                    <ion-card>
                        <img style="max-height: 150px;" [src]="fileUrl" />
                    </ion-card>
                </ion-item>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col size="2" style="--ion-grid-column-padding: 0px;">
                <input #fileInput style="display: none;" type="file" accept="image/*" (change)="onFileChange($event)">
                <ion-button expand="block" fill="clear" color="primary" class="msg-btn" (click)="fileInput.click()">
                    <ion-icon name="attach-outline" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="8">
                <ion-textarea class="message-input" autosize maxRows="3" [(ngModel)]="newComment"></ion-textarea>
            </ion-col>
            <ion-col size="2" style="--ion-grid-column-padding: 0px;">
                <ion-button expand="block" fill="clear" color="primary" [disabled]="newComment == ''" class="msg-btn"
                    (click)="sendComment()">
                    <ion-icon name="send" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-toolbar>