<ion-card>
    <img [src]="post.mediaUrl" />
    <ion-card-header>
        <ion-card-subtitle>{{post.dataCreation.toDate() | date:'mediumDate'}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <h3>{{post.text}}</h3> 
    </ion-card-content>

</ion-card>