<div>
    <div class="chat-bubble {{currentUser.uid === chatMessage.userUid? 'right' : 'left'}}">
        <div *ngIf="currentUser.uid != chatMessage.userUid">
            <b>{{chatMessage.username}}</b>
            <br>
        </div>

        <ion-img *ngIf="chatMessage.mediaUrl" alt="Loading..." (ionImgDidLoad)="ionImgDidLoad()" (ionImgWillLoad)="ionImgWillLoad()" style="max-width: 250px;" [src]="chatMessage.mediaUrl"></ion-img>
        <div class="message">{{chatMessage.msgText}}</div>
        <div class="message-detail" style="float:right">
            <span>{{minimalDatetime}}</span>
        </div>
    </div>
</div>