<ion-header>
  <ion-toolbar>
    <ion-title>Brewery</ion-title>
    <ion-buttons slot="end">
      <ion-button class="badge-button" routerLink="/cart" routerDirection="forward">
        <ion-icon name="basket-outline">
        </ion-icon>
        <ion-badge class="badge-one" color="danger" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-no-padding">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-card style="background-color: white;">
          <img *ngIf="shop && shop.mediaUrl" [src]="shop.mediaUrl" />
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed class="ion-no-padding">
    <!--*********** Banner  ***********-->
    <div class="horizontal-scroll-banner slide-left">
        <ion-card tappable class="shop-main-h-card shop-banner" *ngFor="let banner of banners">
          <div  class="shop-banner-bg ion-text-uppercase" [ngStyle]="{'background-image': 'url(' + banner.mediaUrl+ ')'}">
            <div *ngIf="banner.special" class="ribbon">{{banner.special_message}}</div>
            <p class="card2-title"> {{banner.name}}</p>
          </div>
        </ion-card>
      </div>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>La nostra storia</ion-card-subtitle>
      <ion-card-title>Il Birrificio</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{shop?.description}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Gli orari</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Lunedì</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{shop?.hours.monday}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Martedì</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{shop?.hours.tuesday}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Mercoledì</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{shop?.hours.wednesday}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Giovedì</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{shop?.hours.thursday}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Venerdì</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{shop?.hours.friday}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Sabato</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{shop?.hours.saturday}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Domenica</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{shop?.hours.sunday}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Info</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card>
        <ion-icon name="call-outline"></ion-icon>
        <ion-label style="margin-left: 10px;">{{shop?.phone}}</ion-label>
      </ion-card>
      <ion-card>
        <ion-icon name="locate-outline"></ion-icon>
        <ion-label style="margin-left: 10px;">{{shop?.address}}</ion-label>
      </ion-card>
    </ion-card-content>
  </ion-card>

</ion-content>