.logo-box {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin-top: 20%;

    img {
        position: absolute;
        width: 140px;
        height: 140px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
    ion-icon.notification {
        font-size: 150px;
        position: absolute;
        width: 140px;
        height: 140px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
}