<ion-header class="ion-no-border">
  <ion-toolbar>

    <!-- <ion-buttons slot="start">
      <ion-back-button color="success" mode="ios" defaultHref="food-cart"></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/user-profile" routerDirection="root">
        <ion-icon name="close-outline" color="success"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="success">{{'PROFILE.ORDERS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="orders.length > 0">
    <ion-item  *ngFor="let order of orders" (click)="openOrderDetail(order)">
      <ion-icon *ngIf="order.status=='pending'" slot="start" name="stopwatch-outline"></ion-icon>
      <ion-icon *ngIf="order.status=='taked'" slot="start" name="time-outline"></ion-icon>
      <ion-icon *ngIf="order.status=='completed'" slot="start" name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="order.status=='refund'" slot="start" name="close-circle-outline"></ion-icon>
      <ion-label>
        <h2>{{order.address.fullname}}</h2>
        <h3>{{order.address.address1 + " " + order.address.address2}}</h3>
        <p>{{order.totalPrice | currency:'EUR':'symbol'}} - {{order.createdTime.seconds * 1000 | date:'dd/MM/yyyy'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="orders.length == 0" text-center>
    <div class="logo-box">
        <ion-icon class="notification pop-in" name="bag-outline" color="light"></ion-icon>
      </div>
      <div class="ion-text-center">
        <ion-text color="ulightgrey" class="ion-margin-bottom">
          <h1 class="main-header5">No Orders</h1>
        </ion-text>
      </div>
      <div>
        <ion-button color="" fill="blank" expand="full"  routerLink="/tabs/beers">{{'CART.CONTINUESHOPPING' | translate}}</ion-button>
      </div>
  </div>
</ion-content>
