<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
  <ion-toolbar color="pink">
    <ion-grid fixed class="ion-no-padding">
      <ion-segment mode="md" [(ngModel)]="galleryView">
        <ion-segment-button value="orders">All Orders</ion-segment-button>
        <ion-segment-button value="myorders">My Orders</ion-segment-button>
      </ion-segment>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--***********  Orders  ***********-->
  <ion-list *ngIf="galleryView==='orders'">
    <ion-list-header>
      Recent Orders
    </ion-list-header>

    <ion-item-sliding *ngFor="let order of orders">
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon size="large" *ngIf="order.status == 'pending'" color="danger" name="newspaper-outline"></ion-icon>
          <ion-icon size="large" *ngIf="order.status == 'take'" color="warning" name="newspaper-outline"></ion-icon>
          <ion-icon size="large" *ngIf="order.status == 'completed'" color="success" name="newspaper-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{order.userProfile.userFirstname + ' ' + order.userProfile.userLastname}}</h2>
          <h3>{{order.createdTime.seconds * 1000 | date:'dd/MM/yyyy(EEE) - hh:mmaaa'}}</h3>
          <p>{{order.totalPrice | currency:'EUR':'symbol' }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="openDetailOrder(order)">
          Details
        </ion-item-option>
        <ion-item-option color="secondary" (click)="takeOrder(order)">
          Take
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!--***********  My orders  ***********-->

  <ion-list *ngIf="galleryView==='myorders'">
    <ion-list-header>
      Recent Orders
    </ion-list-header>

    <ion-item-sliding *ngFor="let order of MyOrders">
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon size="large" *ngIf="order.status == 'pending'" color="danger" name="newspaper-outline"></ion-icon>
          <ion-icon size="large" *ngIf="order.status == 'take'" color="warning" name="newspaper-outline"></ion-icon>
          <ion-icon size="large" *ngIf="order.status == 'completed'" color="success" name="newspaper-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{order.userProfile.userFirstname + ' ' + order.userProfile.userLastname}}</h2>
          <h3>{{order.createdTime.seconds * 1000 | date:'dd/MM/yyyy(EEE) - hh:mmaaa'}}</h3>
          <p>{{order.totalPrice | currency:'EUR':'symbol' }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="success" (click)="completedOrder(order)">
          Completed
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>