<ion-item>
  <ion-avatar slot="start" *ngIf="currentUser && currentUser.photoURL">
    <img [src]="currentUser.photoURL">
  </ion-avatar>
  <ion-avatar slot="start" *ngIf="!currentUser || !currentUser.photoURL">
    <img class="avatar-none" src='assets/icons/people-circle-outline.svg'>
  </ion-avatar>
  <ion-label>{{currentUser ? currentUser.displayName : null}}</ion-label>
  <ion-input placeholder="Say something!" (click)="openNewPostModal()"></ion-input>
</ion-item>
