<ion-tabs>

    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="home">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>{{'TABS.HOME.TEXT' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="posts">
            <ion-icon name="chatbubbles-outline"></ion-icon>
            <ion-label>{{'TABS.POSTS.TEXT' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="beers">
            <ion-icon name="beer-outline"></ion-icon>
            <ion-label>beer/e-shop</ion-label>
        </ion-tab-button>

        <!--
        <ion-tab-button tab="order">
            <ion-icon name="settings-outline"></ion-icon>
            <ion-label>Orders</ion-label>
        </ion-tab-button>   
        -->
        <!--
        <ion-tab-button tab="info">
            <ion-icon name="information-circle-outline"></ion-icon>
            <ion-label>{{'TABS.INFO.TEXT' | translate}}</ion-label>
        </ion-tab-button>
        -->

        <ion-tab-button tab="user-profile">
            <ion-icon name="settings-outline"></ion-icon>
            <ion-label>{{'TABS.PROFILE.TEXT' | translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>