<ion-header class="ion-no-border">
  <ion-toolbar>

    <!-- <ion-buttons slot="start">
      <ion-back-button color="success" mode="ios" defaultHref="food-cart"></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs" routerDirection="root">
        <ion-icon name="close-outline" color="success"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="success">{{'CARTCHECKOUT.TEXT' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content padding>
  <ion-grid fixed class="ion-no-padding">

    <ion-row *ngIf="orderItems.length">
      <ion-col size-lg="8" size-md="12" size-sm="12" size="12">

        <!--*********** Order summary  ***********-->
        <!-- <ion-item lines="none">
          <h1 class="main-header5">Order summary</h1>
        </ion-item> -->
        <ion-card class="checkout-card">
          <ion-item lines="none">
            <h1 class="main-header5">{{'CARTCHECKOUT.ORDERSUMMARY' | translate}}</h1>
          </ion-item>
          <ion-list>

            <ion-item-sliding *ngFor="let item of orderItems; let i = index" lines="none" class="" lines="none" #slidingItem>
              <ion-item lines="none">
                  <ion-thumbnail slot="start">
                      <ion-img [src]="item.image"></ion-img>
                  </ion-thumbnail>
                  <ion-label  class="text-left">
                    
                    <h3>{{ item.name }}</h3>
                    <p>{{item.size.value}}</p>
                    <p>
                      {{'CART.QUANTITY' | translate }}: <span>{{ item.quantity}}	&nbsp;</span>
                    </p>
                    <!-- <ion-icon name="trash" slot="end" color="dark" (click)="removeCartProduct(i) " ></ion-icon> -->
                  </ion-label>
                  <h5  slot="end" text-right class="main-header7" >{{ item.price | currency:'EUR':'symbol' }}</h5>
                </ion-item>
              <ion-item-options side="end">
                <ion-item-option (click)="removeCartProduct(i, slidingItem) " >
                  <ion-icon slot="icon-only" size="small" name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>
          </ion-item-sliding>

            <ion-item lines="none" class="margin-top-15">
              <ion-label class="text-left">
                <h1 class="main-b-header8">{{'CARTCHECKOUT.SUBTOTAL' | translate}}:</h1>
              </ion-label>
              <h1 class="main-b-header8" slot="end" text-right>
                {{ total | currency:'EUR':'symbol' }}
              </h1>
              <!-- <span slot="end">{{ total | currency:'USD':'symbol' }}</span> -->
            </ion-item>
            <!-- vat TAXES -->
            <!-- 
            <ion-item lines="none">
              <ion-label class="text-left">
                <h1 class="main-b-header8">Tax({{vat}}%):</h1>
              </ion-label>
              <p class="main-b-header8" slot="end" text-right>
                {{ vatTotal | currency:'EUR':'symbol' }}
              </p>
            </ion-item>
            -->


            <ion-item lines="none">
              <ion-label class="text-left">
                <h1 class="main-b-header8">{{'CARTCHECKOUT.DELIVERFEE' | translate}}:</h1>
              </ion-label>
              <h1 class="main-b-header8" slot="end" text-right>
                {{ fee | currency:'EUR':'symbol' }}
              </h1>
              <!-- <span slot="end">{{ total | currency:'USD':'symbol' }}</span> -->
            </ion-item>

            <ion-item lines="none" class="ion-margin-top">
              <ion-label class="text-left">
                <h1 class="main-b-header8">{{'CARTCHECKOUT.GRANDTOTAL' | translate}}:</h1>
              </ion-label>
              <h1 class="main-b-header8" slot="end" text-right>
                {{ grandTotal | currency:'EUR':'symbol' }}
              </h1>
              <!-- <span slot="end">{{ total | currency:'USD':'symbol' }}</span> -->
            </ion-item>
          </ion-list>
        </ion-card>

        <!--
<ion-card class="checkout-card">
          <ion-radio-group value="address" [(ngModel)]="isAddressBuyOnSite" (ionChange)="addressBuyOnSite()">
            <div class="ion-padding-top ion-padding-bottom">
                <ion-item lines="none">
                  <ion-radio mode="md" color="warning" slot="start"></ion-radio>
                  <ion-label>
                    <h3>{{ 'CARTCHECKOUT.BUYONSITE' | translate }}</h3>
                  </ion-label>
                </ion-item>
            </div>
          </ion-radio-group>
        </ion-card>
        -->
        
        <ion-card class="checkout-card">
          <ion-item lines="none">
            <h1 class="main-header5">{{'CARTCHECKOUT.DELIVERYADDRESS' | translate}}</h1>
          </ion-item>
          <!-- <ion-list-header>
            <ion-label>Address</ion-label>
            <ion-button *ngIf="userAuth"  (click)="openAddressModal()">Add</ion-button>
          </ion-list-header> -->
          <ion-radio-group value="address" (ionChange)="addressGroupChange($event)">
            <div *ngFor="let address of addresses" class="ion-padding-top ion-padding-bottom">
              <ion-item-sliding>
                <ion-item lines="none">
                  <ion-label>
                    <p>{{address.label}}</p>
                    <h3>{{address.fullname}}</h3>
                    <h3 class="ion-text-wrap">{{address.address}}</h3>
                    <h3>{{address.phone}}</h3>
                  </ion-label>
                  <!-- <div slot="end" class="click-outside"  (click)="editAddress(address.id)" > <h4 class="main-header7">change</h4></div> -->
                  <!-- <ion-icon name="md-create" slot="end" color="dark" (click)="editAddress(address.id)" ></ion-icon>  -->
                  <ion-radio mode="md" color="warning" slot="start" [value]="address.id">
                  </ion-radio>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option color="" (click)="editAddressModal(address.id)">Edit</ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </div>
          </ion-radio-group>
          <ion-button *ngIf="userAuth" color="" fill="blank" expand="full" (click)="openAddressModal()">{{'CARTCHECKOUT.ADDADDRESS' | translate}}
          </ion-button>
        </ion-card>

        <!--*********** Payment  ***********-->
        <ion-card #payment class="checkout-card" *ngIf="selectAddressId">
          <ion-item lines="none">
            <h1 class="main-header5">{{'CARTCHECKOUT.PAYMENT' | translate}}</h1>
          </ion-item>
          <ion-radio-group value="payment" (ionChange)="paymentGroupChange($event)">
            <div class="ion-padding-top ion-padding-bottom margin-top-15">
              <ion-item lines="none">
                <ion-radio slot="start" mode="md" color="warning" value="cc"></ion-radio>
                <ion-icon slot="start" size="small" name="card-outline"></ion-icon>
                <ion-label>
                  <h2 class="main-header7">{{'CARTCHECKOUT.CREDITCARD' | translate}}</h2>
                </ion-label>
              </ion-item>
            </div>
            
            <div *ngIf="fee <= 0" class="ion-padding-top ion-padding-bottom">
              <ion-item lines="none">
                <ion-radio slot="start" mode="md" color="warning" value="cash"></ion-radio>
                <ion-icon slot="start" size="small" name="wallet-outline"></ion-icon>
                <ion-label>
                  <h2 class="main-header7">{{'CARTCHECKOUT.CASH' | translate}}</h2>
                </ion-label>
              </ion-item>
            </div>
          </ion-radio-group>
        </ion-card>

        <!--*********** Credit Cards  ***********-->
        <ion-card *ngIf="isPaymentTypeCreditCard" class="checkout-card">
          <ion-item lines="none">
            <h1 class="main-header5">{{'CARTCHECKOUT.CREDITCARDS' | translate}}</h1>
          </ion-item>
          <ion-radio-group value="address" (ionChange)="creditCardSelection($event)">
            <div *ngFor="let card of cards" class="ion-padding-top ion-padding-bottom">
              <ion-item-sliding>
                <ion-item lines="none">
                  <ion-label>
                    <h3>{{card.cardNumber}}</h3>
                    <h3 class="ion-text-wrap">{{card.brand}}</h3>
                    <h3>{{card.cardExpMonth}} - {{card.cardExpYear}}</h3>
                  </ion-label>
                  <!-- <div slot="end" class="click-outside"  (click)="editAddress(address.id)" > <h4 class="main-header7">change</h4></div> -->
                  <!-- <ion-icon name="md-create" slot="end" color="dark" (click)="editAddress(address.id)" ></ion-icon>  -->
                  <ion-radio mode="md" color="warning" slot="start" [value]="card.stripeId">
                  </ion-radio>
                </ion-item>
              </ion-item-sliding>
            </div>
          </ion-radio-group>
          <ion-button *ngIf="userAuth" color="" fill="blank" expand="full" (click)="openCreditCardModal()">{{'CARTCHECKOUT.NEWCREDITCARD' | translate}}
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <div *ngIf="!orderItems.length" text-center>
      <div class="logo-box">
          <ion-icon class="notification pop-in" name="basket-outline" color="light"  ></ion-icon>
        </div>
        <div class="ion-text-center">
          <ion-text color="ulightgrey" class="ion-margin-bottom">
            <h1 class="main-header5">{{'CART.SHOPPINGCARTEMPTY' | translate}}</h1>
          </ion-text>
        </div>
        <div>
          <ion-button color="" fill="blank" expand="full"  routerLink="/tabs/beers">{{'CART.CONTINUESHOPPING' | translate}}</ion-button>
        </div>
    </div>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="orderItems.length">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button color="success" expand="block" (click)="placeOrder()">
            {{'CARTCHECKOUT.PLACEORDER' | translate}}
            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6" class="padding-right-15 text-align-right">

          <ion-text color="dark">
            <h1 class="main-header8 margin-top-3 margin-bottom-0">
              {{'CARTCHECKOUT.ORDERTOTALPRICE' | translate}}
            </h1>
          </ion-text>
          <ion-text color="realgreen">
            <h1 class="main-b-header5 margin-top-0">
              {{ grandTotal | currency:'EUR':'symbol' }}
            </h1>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
