<ion-header class="ion-no-border">
  <ion-toolbar class="first" [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'APP.BUTTONS.BACK' | translate }}" defaultHref="#"></ion-back-button>
    </ion-buttons>

    <ion-title class="main-b-header6">{{itemArray.name}}</ion-title>

    <ion-buttons slot="end">

      <ion-button class="badge-button" routerLink="/cart" routerDirection="forward">
        <ion-icon name="basket-outline">
        </ion-icon>
        <ion-badge class="badge-one" color="success" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen=true (ionScroll)="onScroll($event)" [scrollEvents]="true" [class.transition]="transition">

  <!--*********** Image header
  <div class="detail-header" [ngStyle]="{'background-image': 'url(' + itemArray.image + ')'}">
     <h2 class="detail-name "> {{(item | async)?.name}}</h2>
      <div class="detail-price ">{{(item | async)?.phone}}</div> 
    <div class="bookmarkRibbon"></div>
    <div class="detail-title">

    </div>
  </div>
  ***********-->

  <ion-grid>
    <ion-row>
      <ion-col size="0" size-md="3">
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card>
          <img [src]="itemArray.image" />
        </ion-card>
      </ion-col>
      <ion-col size="0" size-md="3">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="ion-no-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{itemArray.name}}
          <span class="product-color" [style.background]="itemArray.color"></span>
        </ion-card-title>
        <ion-card-subtitle>
          <span>{{itemArray.category}}</span>
          <span>{{itemArray.attribute2_value?.type ? ' - ' + itemArray.attribute2_value.type : null}}</span>
          <span>{{itemArray.attribute2_value?.alcol ? ' - ' + itemArray.attribute2_value.alcol : null}}</span>
        </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        {{itemArray.description}}
      </ion-card-content>
    </ion-card>

    <ion-row>

      <ion-col size-lg="4" size-md="4" size-sm="12" size="12" *ngIf="hasSomeSizeEnabled">
        <!--*********** Size option  ***********-->

        <!-- show if attribute1_value = true-->
        <!-- {{(item | async)?.attribute1_visible}} -->
        <div *ngIf="itemArray.attribute1_visible">
          <div class="ion-padding">
            <ion-item>
              <ion-label>{{'BEERDETAIL.SELECTSIZE' | translate}}</ion-label>
              <ion-select [(ngModel)]="selectSize" placeholder="Select One" slot="end" interface="popover"
                (ionChange)="itemValueChange()">
                <div *ngFor="let size of itemArray.attribute1_value">
                  <ion-select-option *ngIf="size.enable" [value]="size">{{size.value}}
                  </ion-select-option>
                </div>
              </ion-select>
            </ion-item>
          </div>
        </div>
        <div class="ion-padding">
          <ion-item>
            <ion-label>{{'BEERDETAIL.QUANTITY' | translate}}</ion-label>
            <ion-input style="text-align: right" (ionChange)="itemValueChange()" [(ngModel)]="quantity" type="number"
              slot="end"></ion-input>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size-lg="4" size-md="4" size-sm="12" size="12" *ngIf="!hasSomeSizeEnabled">
        <ion-grid fixed class="ion-no-padding">
          <div class="ion-text-center">
            <ion-text color="grey" class="ion-margin-bottom">
              <h1 class="main-header4">{{ 'BEERDETAIL.PRODUCTISNOTAVAILABLE' | translate }}</h1>
            </ion-text>
          </div>
          <div>
            <!-- <ion-button color="grey" routerLink="/shopping-address">View my order</ion-button> -->
            <ion-button color="grey" fill="blank" expand="full" routerLink="/tabs">
              {{'CARTCHECKOUTFINISH.CONTINUESHOPPING' | translate}}</ion-button>
            <!-- <ion-button color="light" expand="full" routerLink="/shopping-address">My orders</ion-button> -->
            <!-- <ion-button color="dark" fill="blank" expand="full" routerLink="/side-menu/shopping/tabs/tab1">Continue shopping</ion-button> -->
          </div>
        </ion-grid>
      </ion-col>
    </ion-row>
    <div class="footer-box"></div>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="hasSomeSizeEnabled">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button color="success" expand="block" (click)="addToCart()">
            {{'BEERDETAIL.BUY' | translate}}
            <ion-icon slot="end" name="basket-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6" class="padding-right-15 text-align-right">
          <ion-text color="dark">
            <h1 class="main-header8 margin-top-3 margin-bottom-0">{{'BEERDETAIL.PRICE' | translate}}</h1>
          </ion-text>
          <ion-text color="realgreen">
            <h1 class="main-b-header5 margin-top-0">{{itemPrice | currency:'EUR':'symbol' }}</h1>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-footer>