<ion-header class="ion-no-border">
  <ion-toolbar>

    <!-- <ion-searchbar color="" placeholder="Search.." (ionFocus)="openSearchModal()" search-icon="ios-pin" ></ion-searchbar>   -->
    <ion-title color="success" class="main-header6">{{'CARTCHECKOUT.NEWCREDITCARD' | translate}}</ion-title>

  </ion-toolbar>
</ion-header>
  
<ion-content no-padding>
  <div class="ion-margin ion-padding-top">
<!--*********** Payment  ***********-->
    <app-credit-card [card]="card"></app-credit-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="success" (click)="addCard()">{{ 'APP.ADD' | translate }}</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="light" fill="blank" (click)="close()">{{ 'APP.CANCEL' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>