<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button color="orange" auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title color="orange" lass="main-header4">{{ 'SIGNUP.TEXT' | translate }}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button color="orange"></ion-back-button>
      </ion-buttons>
      <!-- <ion-title slot="start" class="main-header4">SIGNIN</ion-title> -->
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen=true>
    <ion-grid fixed class="ion-no-padding">
        <ion-header class="ion-no-border" collapse="condense">
          <ion-toolbar>
            <ion-title color="orange" size="large">{{ 'SIGNUP.TEXT' | translate }}</ion-title>
          </ion-toolbar>
        </ion-header>
      
        <div class="register-form ion-margin">
            <ion-text color="dark">
                <h2 text-center class="ion-margin-bottom main-header7">
                    {{ 'SIGNUP.CREATENEWACCOUNT' | translate }}
                </h2>
            </ion-text>
            <form [formGroup]="registerForm" novalidate>
    <!--  -->
              <ion-list class="ion-margin-top ion-padding">
                <!-- ############ -->
                <ion-item  class="roundedInput8px margin-bottom-10">
                  <ion-label>
                    <ion-icon name="person-outline" color="medium"></ion-icon>
                    </ion-label>
                  <ion-input type="text" formControlName="firstname" placeholder="{{ 'SIGNUP.FIRSTNAME' | translate }}" ></ion-input>
                </ion-item>
                <!-- ############ -->
                <ion-item  class="roundedInput8px margin-bottom-10">
                  <ion-label>
                    <ion-icon name="people-outline" color="medium"></ion-icon>
                    </ion-label>
                  <ion-input type="text" formControlName="lastname" placeholder="{{ 'SIGNUP.LASTNAME' | translate }}"></ion-input>
                </ion-item>
                <!-- ############ -->
                <ion-item  class="roundedInput8px margin-bottom-10">
                  <ion-label>
                    <ion-icon name="call-outline" color="medium"></ion-icon>
                    </ion-label>
                  <ion-input  type="number" formControlName="phone" placeholder="{{ 'SIGNUP.PHONE' | translate }}" ></ion-input>
                </ion-item>

                <!-- ############ -->
                <ion-item  class="roundedInput8px margin-bottom-10">
                    <ion-label>
                      <ion-icon name="mail-outline" color="medium"></ion-icon>
                      </ion-label>
                    <ion-input type="text" formControlName="email" placeholder="{{ 'APP.EMAIL' | translate }}"></ion-input>
                  </ion-item>
      


                <!-- ############ -->                              
                <ion-item  class="roundedInput8px margin-bottom-10">

                  <ion-label slot="start" class="margin-right-8">
                    <ion-icon name="lock-closed-outline" color="medium"></ion-icon>
                    </ion-label>

                  <ion-input type="text" formControlName="password" placeholder="{{ 'APP.PASSWORD' | translate }}" [type]="showPassword ? 'text' : 'password'" clearOnEdit="false"></ion-input>

                      <!-- ### Show/hide password ### -->    
                      <div (click)="onPasswordToggle()" ion-button fill="clear" size="small" >
                        <ion-icon  slot="icon-only" color="medium" [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
                      </div>

                </ion-item>

              </ion-list>


    <!--  -->



                <!-- <ion-list lines="none">

                    <ion-item>
                        <ion-icon slot="start" color="lightgrey" size="small" name="person-outline"></ion-icon>
                        <ion-input type="text" formControlName="firstname" placeholder="First name"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-icon slot="start" color="lightgrey" size="small" name="people-outline"></ion-icon>
                        <ion-input type="text" formControlName="lastname" placeholder="Lastname"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-icon slot="start" color="lightgrey" size="small" name="call-outline"></ion-icon>
                        <ion-input type="number" formControlName="phone" placeholder="phone"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-icon slot="start" color="lightgrey" size="small" name="mail-outline"></ion-icon>
                        <ion-input type="text" formControlName="username" placeholder="Username(email)"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-icon slot="start" color="lightgrey" size="small" name="key-outline"></ion-icon>
                        <ion-input type="text" formControlName="password" placeholder="Password"></ion-input>
                    </ion-item>

                </ion-list> -->

                <!-- Error meassage -->
                <ion-text color="danger">
                    <p *ngIf="!registerForm.controls.firstname.valid && registerForm.controls.firstname.touched">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ 'SIGNUP.FIRSTNAMENOTVALID' | translate }}
                    </p>
                </ion-text>
                <ion-text color="danger">
                    <p *ngIf="!registerForm.controls.lastname.valid && registerForm.controls.lastname.touched">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ 'SIGNUP.LASTNAMENOTVALID' | translate }}
                    </p>
                </ion-text>
                <ion-text color="danger">
                    <p *ngIf="!registerForm.controls.phone.valid && registerForm.controls.phone.touched">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ 'SIGNUP.PHONENOTVALID' | translate }}
                    </p>
                </ion-text>

                <ion-text color="danger">
                    <p *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.touched">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ 'SIGNUP.USERNAMENOTVALID' | translate }}
                    </p>
                </ion-text>
                <ion-text color="danger">
                    <p *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.touched">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ 'SIGNUP.PASSWORDNOTVALID' | translate }}
                    </p>
                </ion-text>

                <!-- Submit button -->
                <ion-button mode="ios" color="orange" expand="block" fill="outline" class="ion-margin-top" [disabled]="!registerForm.valid"
                    (click)="registerUser()">
                    {{ 'SIGNUP.CREATENEWUSER' | translate }}
                </ion-button>
                <ion-button mode="ios" color="orange" expand="block" fill="outline" class="ion-margin-top"
                    routerLink="/fire-signin">
                    {{ 'APP.CANCEL' | translate }}
                </ion-button>
                <ion-text color="dark">
                    <h2  class="ion-text-center ion-margin-bottom main-header8">
                      {{ 'APP.CONDITION' | translate }}
                    </h2>
                </ion-text>
            </form>

        </div>
  </ion-grid>
</ion-content>