<ion-header>
    <ion-toolbar>
        <ion-title>Sign in User</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="credentialForm" (ngSubmit)="logIn()">
        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" formControlName="email" required></ion-input>
        </ion-item>
        <br />
        <!-- Error messages -->
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required || errorControl.email.errors?.pattern">
                Email inserted is not valid.
        </span>

        <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password" required></ion-input>
        </ion-item>
        <br />
        <!-- Error messages -->
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
            Password is not valid
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
            Password should be min 6 chars long.
        </span>

        <ion-row>
            <ion-col>
                <ion-button type="submit" expand="block">Login</ion-button>
            </ion-col>
            <ion-col>
                <ion-button type="button" (click)="onSignup()" color="light" expand="block">Signup</ion-button>
            </ion-col>
        </ion-row>
    </form>
    <ion-item lines="full">
        <ion-button type="button" (click)="loginGuest()" expand="block">Login as Guest</ion-button>
    </ion-item>
    <br /> OR
    <br />
    <form>
        <ion-row>
            <ion-col>
                <ion-button type="submit" color="danger" (click)="GoogleAuth()" expand="block">
                    Login with Google
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>