<!-- my-modal.page.html -->
<ion-header>
  <ion-toolbar color="danger">
      <ion-title>Post Comments</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Close</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="speaker-card">
    <ion-card-header>
      <ion-item detail="false" lines="none" class="speaker-item">
        <ion-avatar slot="start">
          <img *ngIf="post.user.photoURL" [src]="post.user.photoURL" [alt]="post.user.displayName + ' profile picture'">
          <img *ngIf="!post.user.photoURL" class="avatar-none" src='assets/icons/people-circle-outline.svg'>
        </ion-avatar>
        <ion-label>
          <p>{{post.user.displayName}}</p>
        </ion-label>
        <div class="post-date">
          <span>{{minimalDatetime}}</span>
        </div>
      </ion-item>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item *ngIf="post.mediaUrl">
          <ion-grid>
            <ion-row>
              <ion-img [src]="post.mediaUrl"></ion-img>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>{{post.text}}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list #commentList>
        <div *ngFor="let comment of post.comments">
          <app-post-comment-item [post]="post" [comment]="comment"></app-post-comment-item>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <app-post-comment-input [post]="post"></app-post-comment-input>
</ion-footer>