<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="success"></ion-back-button>
    </ion-buttons>
    <ion-title class="main-b-header6">{{'TABS.BEERS.BEERLIST' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="badge-button" routerLink="/cart" routerDirection="forward">
        <ion-icon name="basket-outline">
        </ion-icon>
        <ion-badge class="badge-one" color="danger" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-grid fixed class="ion-no-padding">
    <ion-grid class="ion-margin-top ion-padding-top">
      <ion-row wrap>
        <ion-col tappable size-lg="4" size-md="4" size-sm="6" size="6" class="ion-padding"
          *ngFor="let item of items | async">
          <ion-card class="food-main-card food-card-tall ion-margin-bottom">
            <fa-icon class="product-color" size="3x" [style.color]="item.color" [icon]="faWineGlass"></fa-icon>
            <img class="card-image padding-all-10" [src]="item.image" routerLink="/beer-detail/{{item.id}}">
            <ion-card-content>
              <ion-label>
                <ion-text color="black">
                  <h2>{{item.name}}</h2>
                </ion-text>
              </ion-label>
              <ion-label>
                <ion-text color="black">
                  <h4>{{item.attribute2_value.type}} - {{item.attribute2_value.alcol}}</h4>
                </ion-text>
              </ion-label>
              <!-- 
              <div class="margin-top-5">
                <ion-badge *ngIf="item.category" color="primary">
                  {{item.category}}
                </ion-badge>
              </div>
              attribute2_value.type alcol
              <div class="margin-top-5">
                <div *ngFor="let item of item.attribute1_value">
                  <ion-badge class="margin-left-5" *ngIf="item.enable" color="primary">
                    {{item.value}}
                  </ion-badge>
                </div>
              </div>
              -->

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
  <ion-fab *ngIf="currentUser?.isAdmin" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/beer-detail-edit/new">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>