<ion-card>
  <ion-item (click)="openCommentMenu()">
    <ion-avatar slot="start">
      <img *ngIf="comment.userPhotoURL" [src]="comment.userPhotoURL" [alt]="comment.userPhotoURL + ' profile picture'">
      <img *ngIf="!comment.userPhotoURL" class="avatar-none" src='assets/icons/people-circle-outline.svg'>
    </ion-avatar>
    <ion-label>
      <h2>{{comment.userDisplayName}}</h2>
      <p>{{comment.commentText}}</p>
    </ion-label>
    <ion-note slot="end" >{{minimalDatetime}}</ion-note>
  </ion-item>
  <div class="vertical-center">
    <div class="center">
      <img style="max-height: 300px;" *ngIf="comment.mediaUrl" [src]="comment.mediaUrl" class="ion-align-self-end" />
    </div>   
  </div>
</ion-card>