<ion-header class="ion-no-border">
  <ion-toolbar>

    <!-- <ion-buttons slot="start">
      <ion-back-button color="success" mode="ios" defaultHref="food-cart"></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/user-profile" routerDirection="root">
        <ion-icon name="close-outline" color="success"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="success">{{'CARTCHECKOUT.DELIVERYADDRESS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngIf="addresses.length > 0" class="checkout-card">
    <!-- <ion-list-header>
      <ion-label>Address</ion-label>
      <ion-button *ngIf="userAuth"  (click)="openAddressModal()">Add</ion-button>
    </ion-list-header> -->
    <ion-radio-group value="address" (ionChange)="addressGroupChange($event)">
      <div *ngFor="let address of addresses" class="ion-padding-top ion-padding-bottom">
        <ion-item-sliding>
          <ion-item lines="none">
            <ion-label>
              <p>{{address.label}}</p>
              <h3>{{address.fullname}}</h3>
              <h3 class="ion-text-wrap">{{address.address}}</h3>
              <h3>{{address.phone}}</h3>
            </ion-label>
            <!-- <div slot="end" class="click-outside"  (click)="editAddress(address.id)" > <h4 class="main-header7">change</h4></div> -->
            <!-- <ion-icon name="md-create" slot="end" color="dark" (click)="editAddress(address.id)" ></ion-icon>  -->
            <ion-radio mode="md" color="warning" slot="start" [value]="address.id">
            </ion-radio>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="" (click)="editAddressModal(address.id)">Edit</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-radio-group>
    <ion-button *ngIf="userAuth" color="" fill="blank" expand="full" (click)="openAddressModal()">{{'CARTCHECKOUT.ADDADDRESS' | translate}}
    </ion-button>
  </ion-card>

  <div *ngIf="addresses.length == 0" text-center>
    <div class="logo-box">
        <ion-icon class="notification pop-in" name="airplane-outline" color="light"></ion-icon>
      </div>
      <div class="ion-text-center">
        <ion-text color="ulightgrey" class="ion-margin-bottom">
          <h1 class="main-header5">No Orders</h1>
        </ion-text>
      </div>
      <div>
        <ion-button *ngIf="userAuth" color="" fill="blank" expand="full" (click)="openAddressModal()">{{'CARTCHECKOUT.ADDADDRESS' | translate}}
        </ion-button>
      </div>
      <div>
        <ion-button color="" fill="blank" expand="full"  routerLink="/tabs/beers">{{'CART.CONTINUESHOPPING' | translate}}</ion-button>
      </div>
  </div>
</ion-content>
