
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="success" text="{{ 'APP.BUTTONS.BACK' | translate }}"></ion-back-button>
    </ion-buttons>
    <ion-title color="success" class="main-b-header6">{{'CART.TEXT' | translate }}</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed class="ion-no-padding">
  <div  *ngIf="selectedItems.length">
    <ion-list>
      <ion-item-sliding  *ngFor="let item of selectedItems; let i = index" lines="none" class="ion-margin-top" #slidingItem>
          <ion-item lines="none">
              <ion-thumbnail slot="start">
                  <ion-img [src]="item.image"></ion-img>
              </ion-thumbnail>
              <ion-label  class="text-left">
                
                <h3>{{ item.name }}</h3>
                <p>{{item.size.value}}</p>
                <p>
                  {{'CART.QUANTITY' | translate }}: <span>{{ item.quantity}}	&nbsp;</span>
                </p>
                <!-- <ion-icon name="trash" slot="end" color="dark" (click)="removeCartProduct(i) " ></ion-icon> -->
              </ion-label>
              <h5  slot="end" text-right class="main-header7" >{{ item.price | currency:'EUR':'symbol' }}</h5>
            </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="removeCartProduct(i, slidingItem) " >
              <ion-icon slot="icon-only" size="small" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
      </ion-item-sliding>

      <!-- <ion-item lines="none" class="ion-margin-top">
          <ion-label  class="text-left">
              <h1 class="main-b-header6 margin-top-10">Total:</h1>
          </ion-label>
          <span slot="end">
              <h1 class="main-b-header7 margin-bottom-3">{{ total | currency:'USD':'symbol' }}</h1>
          </span>
      </ion-item> -->
      <ion-item lines="none" class="ion-margin-top">
        <ion-label  class="text-left">
            <h1 class="main-b-header8">{{'CART.TOTAL' | translate}}</h1>
        </ion-label>
        <h5 class="margin-top-5" slot="end" text-right class="main-b-header8" >{{ total | currency:'EUR':'symbol' }}</h5>       
    </ion-item>
      <!-- <ion-item class="ion-margin-top">
        Total: <span slot="end">{{ total | currency:'USD':'symbol' }}</span>
      </ion-item>-->
    </ion-list> 
  </div>
    
  <div  *ngIf="!selectedItems.length" text-center>
      <div class="logo-box">
          <ion-icon class="notification pop-in" name="basket-outline" color="light"  ></ion-icon>
        </div>
        <div class="ion-text-center">
          <ion-text color="ulightgrey" class="ion-margin-bottom">
            <h1 class="main-header5">{{'CART.SHOPPINGCARTEMPTY' | translate}}</h1>
          </ion-text>
        </div>
        <div>
          <ion-button color="" fill="blank" expand="full"  routerLink="/tabs/beers">{{'CART.CONTINUESHOPPING' | translate}}</ion-button>
        </div>
    </div>
    </ion-grid>
</ion-content>
    
<ion-footer *ngIf="selectedItems.length" >
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="success" expand="block" (click)="checkout()">{{'CART.CHECKOUT' | translate}}</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="" fill="blank" expand="block" routerLink="/tabs/beers">{{'CART.CONTINUESHOPPING' | translate}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
</ion-footer>

