
<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button routerLink="/tabs" routerDirection="root">
              <ion-icon name="close-outline" color="success"> </ion-icon>
            </ion-button>
          </ion-buttons>
        <ion-title color="orange" lass="main-header4">{{ 'SIGNIN.TEXT' | translate }}</ion-title>
        <!-- <ion-buttons slot="start">
            <ion-back-button color="orange"></ion-back-button>
        </ion-buttons> -->
        <!-- <ion-title slot="start" class="main-header4">SIGNIN</ion-title> -->
    </ion-toolbar>
</ion-header>


<ion-content fullscreen=true>
    <ion-grid fixed class="ion-no-padding">
        <ion-header  class="ion-no-border" collapse="condense">
    
        <ion-toolbar>
            <ion-title color="orange" size="large">{{ 'SIGNIN.TEXT' | translate }}</ion-title>
        </ion-toolbar>
        </ion-header>


        <!-- <div class="logo-box">
        <img src="https://pbs.twimg.com/profile_images/1148952014036054016/xxv7lLvp.jpg" alt="">
        </div> -->
        <!-- <ion-item lines="none">
            <ion-label>
                <ion-text color="greengrab">
                    <h1 class="main-header1">Sign in</h1>
                </ion-text>
            </ion-label>
        </ion-item> -->

        <form [formGroup]="loginForm" novalidate>
            <div class="login-form">
                <ion-text color="dark">
                    <h2 text-center class="ion-margin-bottom main-header7">
                        {{ 'SIGNIN.SIGNINTOCONTINUE' | translate }}
                    </h2>
                </ion-text>
                <!--  -->
                <ion-list class="ion-margin-top ion-padding">
                    <!-- ############ -->
                    <ion-item class="roundedInput8px margin-bottom-10">
                        <ion-label>
                            <ion-icon name="person-add-outline" color="medium"></ion-icon>
                        </ion-label>
                        <ion-input formControlName="username"  type="email" placeholder="{{'APP.USERNAME' | translate}}"></ion-input>
                    </ion-item>
                    <!-- ############ -->
                    <ion-item class="roundedInput8px margin-bottom-10">
                        <ion-label slot="start" class="margin-right-8">
                            <ion-icon name="lock-closed-outline" color="medium"></ion-icon>
                        </ion-label>

                        <ion-input formControlName="password"  type="password" placeholder="{{ 'APP.PASSWORD' | translate}}" [type]="showPassword ? 'text' : 'password'" clearOnEdit="false">
                        </ion-input>

                        <!-- ### Show/hide password ### -->
                        <div (click)="onPasswordToggle()" ion-button fill="clear" size="small">
                            <ion-icon slot="icon-only" color="medium" [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
                        </div>
                    </ion-item>
                    
                    <!-- ############ -->
                    <span>
                        <p class="ion-text-right" (click)="forgot()">{{ 'SIGNIN.FORGOTPASSWORD' | translate }}</p>
                    </span>     
                
                    <!-- ############ -->

                    <!-- Error meassage -->
                    <ion-text color="scarletred">
                        <p *ngIf="!loginForm.controls.username.valid && loginForm.controls.username.touched">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ 'SIGNIN.USERNAMENOTVALID' | translate }}
                        </p>
                    </ion-text>
                    <ion-text color="scarletred">
                        <p *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ 'SIGNIN.PASSWORDNOTVALID' | translate }}
                        </p>
                    </ion-text>


                </ion-list>



                <!--  -->
                <!-- <ion-list class="ion-margin-top">
                    <ion-item lines="none">
                        <ion-icon slot="start" color="lightgray" size="small" name="mail-outline"></ion-icon>
                        <ion-input formControlName="username" type="email" placeholder="Username"></ion-input>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-icon slot="start" color="lightgray" size="small" name="key-outline"></ion-icon>
                        <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
                    </ion-item>

                </ion-list> -->




                <!-- <ion-button mode="ios" color="orange" expand="block"  (click)="login()">
                    Sign in
                </ion-button> -->

                <ion-button mode="ios" color="orange" expand="block" fill="outline"  [disabled]="!loginForm.valid" (click)="login()">
                    {{ 'SIGNIN.SIGNIN' | translate }}
                </ion-button>

                <ion-button mode="ios" color="orange" expand="block" fill="outline" class="ion-margin-top" (click)="register()">
                    {{ 'SIGNIN.CREATENEWUSER' | translate }}
                </ion-button>
                <ion-button mode="ios" color="orange" expand="block" fill="outline" class="ion-margin-top" routerLink="/tabs">{{ 'SIGNIN.CONTINUESHOPPING' | translate }}</ion-button>
                <ion-text color="medium">
                    <h2 class="ion-margin-bottom main-header8 ion-text-center">
                        {{'APP.CONDITION' | translate}}
                    </h2>
                </ion-text>
            </div>
        </form>
    </ion-grid>
</ion-content>