<ion-footer>
    <ion-toolbar>
        <ion-row class="ion-align-items-center">
            <ion-col size="2" style="--ion-grid-column-padding: 0px;">
                <input #fileInput style="display: none;" type="file" accept="image/*" (change)="onFileChange($event)">
                <ion-button expand="block" fill="clear" color="primary" class="msg-btn" (click)="fileInput.click()">
                    <ion-icon name="attach-outline" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="8">
                <ion-textarea class="message-input" autosize maxRows="3" [(ngModel)]="newMsg"></ion-textarea>
            </ion-col>
            <ion-col size="2" style="--ion-grid-column-padding: 0px;">
                <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg == ''" class="msg-btn"
                    (click)="sendMessage()">
                    <ion-icon name="send" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>