<!-- my-modal.page.html -->
<ion-header>
    <ion-toolbar color="danger">
        <ion-title>Send Image</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-grid>
        <ion-item>
            <ion-img style="width: 250px;" [src]="fileUrl"></ion-img>
        </ion-item>
        <form>
            <ion-item lines="full">
                <ion-label position="floating">Text</ion-label>
                <ion-input name="message" [(ngModel)]="message" type="text"></ion-input>
            </ion-item>
        </form>
        <ion-row>
            <ion-col text-center>
                <ion-button (click)="sendChatImage()">Send</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>