<ion-header class="ion-no-border">
  <ion-toolbar>

    <!-- <ion-buttons slot="start">
      <ion-back-button color="success" mode="ios" defaultHref="food-cart"></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/user-profile" routerDirection="root">
        <ion-icon name="close-outline" color="success"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="success">{{'PROFILE.CARDS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="cards.length">
    <ion-item-sliding *ngFor="let card of cards">
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteCard(card)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-grid class="cardON">
          <ion-row>
            <ion-col class="state">
              <div class="msg">
                <span class="ON"></span>ON
              </div>
            </ion-col>
            <ion-col></ion-col>
            <ion-col class="logo" [ngSwitch]="card.brand | lowercase">
              <ion-img *ngSwitchCase="'visa'" class="brand" src="assets/images/visa.png"></ion-img>
              <ion-img *ngSwitchCase="'mastercard'" class="brand" src="assets/images/mastercard.png"></ion-img>
              <ion-img *ngSwitchDefault class="brand" src="assets/images/chip.png"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row class="digits">
            <ion-col class="number">
                <input class="card-number-input" [ngModel]="card.cardNumber">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-row>
              <ion-col>
                  <ion-label class="date">{{card.expires |  date:'MM/yy'}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-row>
        </ion-grid>
      </ion-item>
      
    </ion-item-sliding>

    <ion-button *ngIf="userAuth" color="" fill="blank" expand="full" (click)="openCreditCardModal()">{{'CARTCHECKOUT.NEWCREDITCARD' | translate}}
    </ion-button>
  </ion-list>
  
  <div *ngIf="!cards.length" text-center>
    <div class="logo-box">
        <ion-icon class="notification pop-in" name="card-outline" color="light"  ></ion-icon>
      </div>
      <div class="ion-text-center">
        <ion-text color="ulightgrey" class="ion-margin-bottom">
          <h1 class="main-header5">No Credit Card Registered</h1>
        </ion-text>
      </div>
      <div>
        <ion-button *ngIf="userAuth" color="" fill="blank" expand="full" (click)="openCreditCardModal()">{{'CARTCHECKOUT.NEWCREDITCARD' | translate}}
        </ion-button>
      </div>
      <div>
        <ion-button color="" fill="blank" expand="full"  routerLink="/tabs/beers">{{'CART.CONTINUESHOPPING' | translate}}</ion-button>
      </div>
  </div>

</ion-content>
