
<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-title color="orange" lass="main-header4">{{ 'PROFILE.TEXT' | translate }}</ion-title>
      <!-- <ion-buttons slot="start">
          <ion-back-button color="orange"></ion-back-button>
      </ion-buttons> -->
      <!-- <ion-title slot="start" class="main-header4">SIGNIN</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed class="ion-no-padding">
      <ion-header  class="ion-no-border" collapse="condense">
      
        <ion-toolbar>
          <ion-title color="orange" size="large">{{ 'PROFILE.TEXT' | translate }}</ion-title>
        </ion-toolbar>
      </ion-header>

    <!-- <div class="logo-box">
      <img src="https://pbs.twimg.com/profile_images/1148952014036054016/xxv7lLvp.jpg" alt="">
    </div> -->

    <div class="login-form">
      <ion-text color="dark">
        <h2 text-center class="ion-margin-bottom main-header7">
            {{ 'PROFILE.YOURPROFILEDETAIL' | translate }}
        </h2>
    </ion-text>
    <form [formGroup]="updateForm" novalidate>

      <ion-list class="ion-margin-top ion-padding">
        <!-- ############ -->
        <ion-item class="roundedInput8px margin-bottom-10">
          <ion-label>
            <ion-icon name="person-outline" color="medium"></ion-icon>
            </ion-label>
          <ion-input type="text"  formControlName="firstname"  [value]="(userDetail | async)?.firstname" ></ion-input>
        </ion-item>
        <!-- ############ -->
        <ion-item  class="roundedInput8px margin-bottom-10">
          <ion-label>
            <ion-icon name="people-outline" color="medium"></ion-icon>
            </ion-label>
          <ion-input type="text"  formControlName="lastname"   [value]="(userDetail | async)?.lastname"></ion-input>
        </ion-item>
        <!-- ############ -->
        <ion-item  class="roundedInput8px margin-bottom-10">
          <ion-label>
            <ion-icon name="mail-outline" color="medium"></ion-icon>
            </ion-label>
          <ion-input type="text"  formControlName="email"  [value]="(userDetail | async)?.email" ></ion-input>
        </ion-item>

        <!-- ############ -->
        <ion-item  class="roundedInput8px margin-bottom-10">
            <ion-label>
              <ion-icon name="call-outline" color="medium"></ion-icon>
              </ion-label>
            <ion-input  type="text" formControlName="phone"   [value]="(userDetail | async)?.phone"></ion-input>
          </ion-item>
      </ion-list>

          <ion-button mode="ios" color="orange" fill="outline" expand="block" class="ion-margin-top" routerLink="profile-address">
            {{ 'PROFILE.EDITADDRESS' | translate }}
          </ion-button>
          <ion-button mode="ios" color="orange" fill="outline" expand="block" class="ion-margin-top" routerLink="profile-orders">
            {{ 'PROFILE.ORDERS' | translate }}
          </ion-button>
          <ion-button mode="ios" color="orange" fill="outline" expand="block" class="ion-margin-top" routerLink="profile-creditcards">
            {{ 'PROFILE.CARDS' | translate }}
          </ion-button>
          <ion-button mode="ios" color="orange" expand="block" class="ion-margin-top" fill="outline" (click)="updateProfile()">
            {{ 'PROFILE.UPDATEPROFILE' | translate }}
          </ion-button>
          <!--
          <ion-button mode="ios" color="orange" expand="block" fill="outline" class="ion-margin-top" routerLink="profile-about">
            {{ 'PROFILE.ABOUT' | translate }}
          </ion-button>   
          -->
          <ion-button mode="ios" color="orange" *ngIf="currentUser && !currentUser.emailVerified" expand="block" fill="outline" class="ion-margin-top" routerLink="verify-email">
            {{ 'APP.VERIFYEMAIL' | translate }}
          </ion-button>   
          <ion-button mode="ios" color="orange" fill="outline" expand="block" class="ion-margin-top"  (click)="logout()">
            {{ 'PROFILE.SIGNOUT' | translate }}
        </ion-button>
          <ion-text color="dark">
            <h2  class="ion-text-center ion-margin-bottom main-header8">
              {{'APP.CONDITION' | translate}}
            </h2>
        </ion-text>
    </form>

    <!-- ############
      
    <ion-card>
      <ion-card-content>
        <p translate [translateParams]="{ lang: language }">tab1.invite</p>
        <ion-item> 
          <ion-label translate>Language</ion-label>
          <ion-select [(ngModel)]='language' (ionChange)='languageChange()' [placeholder]='"tab1.languageChangePlaceholder" | translate'>
            <ion-select-option value='it'>Italian</ion-select-option>
            <ion-select-option value='en'>English</ion-select-option>
          </ion-select>
        </ion-item> 
      </ion-card-content>
    </ion-card>
    -->


    </div>
  </ion-grid>
</ion-content>