<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button color="orange" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title color="orange" lass="main-header4">{{ 'FORGOTPASS.TEXT' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="orange"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title slot="start" class="main-header4">SIGNIN</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen=true>
  <ion-grid fixed class="ion-no-padding">
      <ion-header class="ion-no-border" collapse="condense">
        <ion-toolbar>
          <ion-title color="orange" size="large">{{ 'FORGOTPASS.TEXT' | translate }}</ion-title>
        </ion-toolbar>
      </ion-header>

      <form [formGroup]="resetPasswordForm" novalidate>
        <div class="login-form">
          <ion-text color="dark">
            <h2 text-center class="ion-margin-bottom main-header7">
              {{ 'FORGOTPASS.FORGOTPASSWORD' | translate }}
            </h2>
          </ion-text>
          <ion-list class="ion-margin-top">
            <!-- <ion-item>
                  <ion-input formControlName="email" type="text" placeholder="email"></ion-input>
                </ion-item> -->
            <ion-item class="roundedInput8px margin-bottom-10">
              <ion-label>
                <ion-icon name="mail-outline" color="medium"></ion-icon>
              </ion-label>
              <ion-input formControlName="email" type="text" placeholder="{{ 'APP.EMAIL' | translate}}"></ion-input>
            </ion-item>
          </ion-list>

          <!-- Error meassage -->
          <p color="warning" *ngIf="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.touched">
            <ion-icon name="information-circle-outline"></ion-icon> {{ 'FORGOTPASS.EMAILNOTVALID' | translate }}
          </p>

          <ion-button mode="ios" color="orange" expand="block" fill="outline" [disabled]="!resetPasswordForm.valid"
            (click)="resetPassword()">
            {{ 'FORGOTPASS.RECOVER' | translate }}
          </ion-button>
          <ion-button mode="ios" color="orange" expand="block" fill="outline" class="ion-margin-top"
            routerLink="/fire-signup">
            {{ 'FORGOTPASS.CREATENEWUSER' | translate }}
          </ion-button>
          <ion-text color="dark">
            <h2  class="ion-text-center ion-margin-bottom main-header8">
              {{ 'APP.CONDITION' | translate }}
            </h2>
        </ion-text>
        </div>
      </form>
  </ion-grid>
</ion-content>