<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-chip outline color="primary" (click)="addOrRemoveLike()">
        <ion-icon name="heart-circle-outline" ></ion-icon>
        <ion-label>{{post.likes ? post.likes.length : 0}}</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col size="6" (click)="openCommentPopup()">
      <ion-chip outline color="success">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-label>{{post.comments ? post.comments.length : 0}}</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
</ion-grid>