<ion-header class="ion-no-border">
  <ion-toolbar>

    <!-- <ion-buttons slot="start">
      <ion-back-button color="success" mode="ios" defaultHref="food-cart"></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close-outline" color="success"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="success">Order Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/master/src/demos/api/card/madison.jpg" />
    <ion-card-header>
      <ion-card-subtitle>{{userProfile?.displayName}}</ion-card-subtitle>
      <ion-card-title>{{order?.totalPrice | currency:'EUR':'symbol'}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{address?.address}}
    </ion-card-content>

  </ion-card>

  <!--*********** Payment  ***********-->
  <ion-card class="checkout-card">

    <ion-list>
      <ion-item lines="none" class="margin-top-15">
        <ion-label class="text-left">
          <h1 class="main-b-header8">Payment:</h1>
        </ion-label>
        <h1 class="main-b-header8" slot="end" text-right>
          PayPal
        </h1>
        <!-- <span slot="end">{{ total | currency:'USD':'symbol' }}</span> -->
      </ion-item>
    </ion-list>


  </ion-card>

  <ion-card class="checkout-card">
    <ion-item lines="none">
      <h1 class="main-header5">Order summary</h1>
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let item of orderItems; let i = index" lines="none" class="" lines="none">
        <ion-thumbnail slot="start">
          <ion-img [src]="item.image"></ion-img>
        </ion-thumbnail>
        <ion-label class="text-left">
          <h3>{{ item.name }}</h3>
          <p>Size: {{item.size.value}}</p>
          <!-- <ion-icon name="trash" slot="end" color="dark" (click)="removeCartProduct(i) " ></ion-icon> -->
        </ion-label>
        <h5 slot="end" class="main-header7" text-right>
          {{ item.price | currency:'EUR':'symbol' }}
        </h5>
      </ion-item>

      <ion-item lines="none" class="margin-top-15">
        <ion-label class="text-left">
          <h1 class="main-b-header8">Subtotal:</h1>
        </ion-label>
        <h1 class="main-b-header8" slot="end" text-right>
          {{ total | currency:'EUR':'symbol' }}
        </h1>
        <!-- <span slot="end">{{ total | currency:'USD':'symbol' }}</span> -->
      </ion-item>
      <ion-item lines="none">
        <ion-label class="text-left">
          <h1 class="main-b-header8">Tax({{vat}}%):</h1>
        </ion-label>
        <p class="main-b-header8" slot="end" text-right>
          {{ vatTotal | currency:'EUR':'symbol' }}
        </p>
        <!-- <span slot="end">{{ total | currency:'USD':'symbol' }}</span> -->
      </ion-item>

      <ion-item lines="none">
        <ion-label class="text-left">
          <h1 class="main-b-header8">Delivery fee:</h1>
        </ion-label>
        <h1 class="main-b-header8" slot="end" text-right>
          {{ fee | currency:'EUR':'symbol' }}
        </h1>
        <!-- <span slot="end">{{ total | currency:'USD':'symbol' }}</span> -->
      </ion-item>

      <ion-item lines="none" class="ion-margin-top">
        <ion-label class="text-left">
          <h1 class="main-b-header8">GrandTotal:</h1>
        </ion-label>
        <h1 class="main-b-header8" slot="end" text-right>
          {{ grandTotal | currency:'EUR':'symbol' }}
        </h1>
        <!-- <span slot="end">{{ total | currency:'USD':'symbol' }}</span> -->
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="5" class="padding-left-15">
          <ion-text color="dark">
            <h1 class="main-header8 margin-top-3 margin-bottom-0">
              Order total price
            </h1>
          </ion-text>
          <ion-text color="realgreen">
            <h1 class="main-b-header5 margin-top-0">
              {{ grandTotal | currency:'EUR':'symbol' }}
            </h1>
          </ion-text>
        </ion-col>
        <ion-col size="7">
          <!-- <ion-button color="" expand="full" (click)="addToCart()">
                      Add to cart
                      <ion-icon slot="end" name="star"></ion-icon>
                    </ion-button> -->
          <ion-button color="success" expand="full" (click)="takeOrder()">
            Take order
            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>