<ion-header class="ion-no-border">
  <ion-toolbar class="first" [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title class="main-b-header6">{{itemArray?.name}} EDIT</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs" routerDirection="root">
        <ion-icon name="close-outline" color="success"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen=true (ionScroll)="onScroll($event)" [scrollEvents]="true" [class.transition]="transition">

  <!--*********** Image header  ***********-->
  <input #fileInput style="display: none;" type="file" accept="image/*" (change)="onFileChange($event)">
  <div class="detail-header" *ngIf="fileUrl" [ngStyle]="{'background-image': 'url(' + fileUrl + ')'}" (click)="fileInput.click()">
    <!-- <h2 class="detail-name "> {{(item | async)?.name}}</h2>
      <div class="detail-price ">{{(item | async)?.phone}}</div> -->
    <div class="bookmarkRibbon"></div>
    <div class="detail-title">
    </div>
  </div>
  <div class="detail-header" *ngIf="!fileUrl && itemArray?.image" [ngStyle]="{'background-image': 'url(' + itemArray?.image + ')'}" (click)="fileInput.click()">
    <!-- <h2 class="detail-name "> {{(item | async)?.name}}</h2>
      <div class="detail-price ">{{(item | async)?.phone}}</div> -->
    <div class="bookmarkRibbon"></div>
    <div class="detail-title">
    </div>
  </div>
  <div class="detail-header" *ngIf="!fileUrl && !itemArray?.image"
    [ngStyle]="{'background-image': 'url(assets/images/camera-outline.svg)'}" (click)="fileInput.click()">

  </div>


  <ion-grid *ngIf="itemArray" fixed class="ion-no-padding">
    <!--*********** Title  ***********-->
    <div class="margin-top-10">
      <ion-item lines="none">
        <ion-input placeholder='Insert name' type="text" class="food_header1 detail-name" [(ngModel)]="itemArray.name">
        </ion-input>
      </ion-item>
    </div>
    <ion-row>
      <ion-col size-lg="8" size-md="8" size-sm="12" size="12">
        <!--*********** Description ***********-->
        <div class="ion-padding">
          <ion-input placeholder='Insert description' type="text" class="margin-bottom-3"
            [(ngModel)]="itemArray.description"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="4" size-md="4" size-sm="12" size="12">
        <!--*********** Size option  ***********-->
        <div>
          <div class="ion-padding">
            <ion-item-sliding *ngFor="let size of itemArray.attribute1_value; let i = index" lines="none" #slidingItem>
              <ion-item>
                <ion-label>Size:</ion-label>
                <ion-input class="main-b-header5" type="text" [value]="size.value" readonly>
                </ion-input>
                <ion-input class="main-b-header5" type="text" [value]="size.price | currency:'EUR':'symbol' " readonly>
                </ion-input>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="success" (click)="editSize(i, slidingItem) ">
                  <ion-icon slot="icon-only" size="small" name="pencil-outline"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger" (click)="removeSize(i, slidingItem)">
                  <ion-icon slot="icon-only" size="small" name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            <ion-button expand="full" (click)="addSize()">
              Add
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <div class="footer-box"></div>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <ion-button color="danger" expand="full" (click)="removeItem()">
            Delete
            <ion-icon name="skull-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="success" expand="full" (click)="updateItem()">
            Save
            <ion-icon class="margin-left-10" name="save-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-footer>