<ion-grid class="cardON">
  <ion-row>
    <ion-col class="state">
      <div class="msg">
        <span class="ON"></span>ON
      </div>
    </ion-col>
    <ion-col>
      <div *ngIf="this.card.cardNumber?.length > 0 && !isCardNumberCorrect">
        <p [class.invalid]="!isCardNumberCorrect">{{card.errorMessage}}</p>
      </div>
    </ion-col>
    <ion-col class="logo">
      <ion-img class="brand" src="{{cardLogoUrl}}"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row class="digits">
    <ion-col class="number">
        <input class="card-number-input" inputmode="numeric" [ngModel]="card.cardNumber" (ngModelChange)="cardValueChange($event)"
        [textMask]="{mask: cardMaskFunction, guide: false, showMask: true}" placeholder="---- ---- ---- ----">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-row>
      <ion-datetime class="date" min="2021" max="2099-10-31" display-format="MM/YY" (ngModel)="card.expires" (ionChange)="expYearChange($event.target.value)" picker-format="MM/YY" placeholder="-- / --"></ion-datetime>
    </ion-row>
    <ion-col>
      <ion-input class="ccv" type="number" (ngModel)="card.ccv" (ionInput)="ccvValueChange($event.target.value)" placeholder="CCV"></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>
