ion-grid.cardON {
    background-color: #4284ff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    max-width: 400px !important;
    .msg {
        background-color: #679cff;
    }
}

ion-grid.cardOFF {
    background-color: #bbb7b7;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    max-width: 400px !important;
    .msg {
        background-color: #d4d4d4;
    }
}

.msg {
    //background-color: #679cff;
    float: left;
    padding: 5px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 0.8em;
    color: white;
    border-radius: 5px;
}

.number {
    color: white;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
}

.digits {
    padding-right: 5%;
    padding-left: 5%;
}

.date {
    color: white;
    font-size: 0.9em;
}

.date::placeholder {
    color: white;
    font-size: 0.8em;
}

.card-number-input {
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    color: white;
}

.card-number-input:focus {
    outline: none !important;
    border:0px transparent;
    box-shadow: 0 0 10px transparent;
}

.card-number-input::placeholder{
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    color: white;
}

.ccv {
    text-align: right;
    color: white;
    font-size: 1em;
}

.brand {
    max-width: 40%;
    float: right;
}

.ON {
    height: 8px;
    width: 8px;
    background-color: #8de278;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
}

.OFF {
    height: 8px;
    width: 8px;
    background-color: #fb5f5f;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 4px;
}

ion-icon#power {
    font-size: 2em;
}

p {
    text-align: center;
    font-size: 0.8em;

    &.valid:after {
      color: white;
    }

    &.invalid:after {
      color: black;
    }
  }
