/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import 'assets/scss/animations.scss';

//****************************//
//******** Margin ***********//
//***************************//
.margin-top-0{
    margin-top: 0px !important;
}
.margin-top-3{
    margin-top: 3px !important;
}
.margin-top-5{
    margin-top: 5px !important;
}
.margin-top-10{
    margin-top: 10px !important;
}
.margin-top-15{
    margin-top: 15px !important;
}
.margin-top-25{
    margin-top: 25px !important;
}
.margin-bottom-0{
    margin-bottom: 0px !important;
}
.margin-bottom-3{
    margin-bottom: 3px !important;
}
.margin-bottom-5{
    margin-bottom: 5px !important;
}
.margin-bottom-10{
    margin-bottom: 10px !important;
}
.margin-bottom-15{
    margin-bottom: 15px !important;
}
.margin-bottom-20{
    margin-bottom: 20px !important;
}
.margin-all-5{
    margin: 5px !important;
}
.margin-all-10{
    margin: 10px !important;
}
.margin-all-15{
    margin: 15px !important;
}

.margin-right-0{
    margin-right: 0px !important;
}
.margin-right-5{
    margin-right: 5px !important;
}
.margin-right-8{
    margin-right: 8px !important;
}
.margin-right-10{
    margin-right: 10px !important;
}
.margin-right-15{
    margin-right: 15px !important;
}
.margin-left-0{
    margin-left: 0px !important;
}
.margin-left-5{
    margin-left: 5px !important;
}
.margin-left-8{
    margin-left: 8px !important;
}
.margin-left-10{
    margin-left: 10px !important;
}
.margin-0-28{
    margin: 0px 25px !important;
}

//****************************//
//******** Padding ***********//
//***************************//
.padding-top-0{
    padding-top: 0px !important;
}
.padding-top-3{
    padding-top: 3px !important;
}
.padding-top-5{
    padding-top: 5px !important;
}
.padding-top-10{
    padding-top: 10px !important;
}

.padding-bottom-0{
    padding-bottom: 0px !important;
}
.padding-bottom-3{
    padding-bottom: 3px !important;
}
.padding-bottom-5{
    padding-bottom: 5px !important;
}
.padding-bottom-10{
    padding-bottom: 10px !important;
}
.padding-right-5{
    padding-right: 5px !important;
}
.padding-right-15{
    padding-right: 15px !important;
}
.padding-right-25{
    padding-right: 25px !important;
}
.padding-left-0{
    padding-left: 0px !important;
}
.padding-left-5{
    padding-left: 5px !important;
}
.padding-left-10{
    padding-left: 10px !important;
}
.padding-left-15{
    padding-left: 15px !important;
}
.padding-left-25{
    padding-left: 25px !important;
}
.padding-all-5{
    padding: 5px !important;
}
.padding-all-10{
    padding: 10px !important;
}
.padding-all-15{
    padding: 15px !important;
}

//*************************************//
//******** Typography ***********//
//*************************************//
p{
  //  color: #666666 !important;
    line-height: 1.4 !important;
}
.main-header10{
    font-size: 18px !important;
    font-weight: 300 !important;
}
.main-header9{
    //letter-spacing: -1px;
    font-size: 12px !important;
    font-weight: 300 !important;
}
.main-header8{
    //letter-spacing: -1px;
    font-size: 14px!important; 
    font-weight: 300 !important;
}
.main-header8-500{
    //letter-spacing: -1px;
    font-size: 14px!important; 
    font-weight: 500 !important;
}
.main-header7{
    //letter-spacing: -1px;
    font-size: 16px !important;
    font-weight: 300 !important;
}
.main-header6{
    //letter-spacing: -1px;
    font-size: 18px !important;
    font-weight: 300 !important;
}
.main-header5{
    //letter-spacing: -1px;
    font-size: 20px !important;
    font-weight: 300 !important;

//     letter-spacing: -1px;
//     font-size: 17px !important;
//     font-weight: 400 !important;
}
.main-header4{
    //letter-spacing: -1px;
    font-size: 22px !important;
    font-weight: 300 !important;

//     letter-spacing: -1px;
//     font-size: 17px !important;
//     font-weight: 400 !important;
}
.main-header3{
    //letter-spacing: -1px;
    font-size: 26px !important;
    font-weight: 300 !important;
}
.main-header2{
    letter-spacing: -1px;
    font-size: 28px !important;
    font-weight: 300 !important;
}
.main-header1{
    letter-spacing: -1px;
    font-size: 30px !important;
    font-weight: 300;
}
.main-header0{
    letter-spacing: -1px;
    font-size: 34px !important;
    font-weight: 300 !important;
}
.main-b-header1{
    letter-spacing: -1px;
    font-size: 30px !important;
    font-weight: 500 !important;
}
.main-b-header2{
    letter-spacing: -1px;
    font-size: 28px !important;
    font-weight: 500 !important;
}
.main-b-header3{
    //letter-spacing: -1px;
    font-size: 26px !important;
    font-weight: 500 !important;
}
.main-b-header4{
    //letter-spacing: -1px;
    font-size: 24px !important;
    font-weight: 500 !important;
}
.main-b-header5{
   // letter-spacing: -1px;
    font-size: 22px !important;
    font-weight: 500 !important;
}
.main-b-header6{
    //letter-spacing: -1px;
    font-size: 20px !important;
    font-weight: 500 !important;
}
.main-b-header7{
    //letter-spacing: -1px;
    font-size: 18px !important;
    font-weight: 500 !important;
}

.main-b-header8{
    //letter-spacing: -1px;
    font-size: 16px !important;
    font-weight: 500 !important;
}
.main-b-header9{
    //letter-spacing: -1px;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.main-para0{
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #444444 !important;
}
.main-para1{
    letter-spacing: 1px;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #444444 !important;
}
.main-para2{
    letter-spacing: 1px;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #444444 !important;
}

//********************************************//
//******** Food Delivery App styles **********//
//********************************************//


.food_space0{
    margin: 10px 0px 0px;
}
.food_space1{
    margin: 0px 0px 0px;
}
.food_space2{
    margin: 10px 0px;
}
.food_space3{
    margin: 10px 0px;
}
.food_space4{
    margin: 5px 15px;
}



.food_header1{
    margin-bottom: 2px !important;
    letter-spacing: -1px;
    font-size: 28px !important;
    font-weight: 700 !important;
}

.food_header2{ // user main_header3 instead //
    //color:#464646 !important;
    letter-spacing: -1px;
    font-size: 26px;
    font-weight: 300;
// disable this food_header2 //
//     letter-spacing: -1px;
//     font-size: 17px !important;
//     font-weight: 400 !important;
}

.food_header3{
    // color:#464646 !important;
    // letter-spacing: -1px;
    // font-size: 22px;
    // font-weight: 300;
    margin-top: 0px !important;
    padding-top: 0px !important;
    color:#999 !important;
    letter-spacing: -1px;
    font-size: 16px !important;
    font-weight: 400 !important;
}



.food_title1{
    //font-family:roboto;
    font-size: 17px;
    font-weight:600;
    color: #464646;
    margin-top: 12px;
}

//*************************************//
//******** Horizontal scroll ***********//
//*************************************//

.top-horizontal-scroll {
    margin-left: 10px;
    white-space: nowrap;
    height: auto;
    overflow-X: scroll;
    overflow-y: auto;
}
.horizontal-scroll {
    margin-left: 10px;
    white-space: nowrap;
    height: auto;
    overflow-X: scroll;
    overflow-y: auto;
    vertical-align: top !important; /* here */
}
.horizontal-scroll-banner {
    margin-left: 2px;
    white-space: nowrap;
    height: auto;
    overflow-X: scroll;
    overflow-y: auto;
    vertical-align: top !important; /* here */
}

//*************************************//
//******** Modal styles ***********//
//*************************************//
.modal-wrapper{
    background: none !important;
}
// from bottom
// .my-custom-modal-css .modal-wrapper {
//     height: 20%;
    
//     top: 80%;
//     position: absolute; 
//     display: block;  
//  }


//******** small ***********//
    .from-middle-modal .modal-wrapper {
        height: 400px;
        width: 300px;
        margin: 0px 5px !important;
        // width: 300px;
        // top: 350px;
        // bottom:0px;
        position: absolute; 
        border-radius: 8px  !important;
        display: block;  
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

    }
//******** full ***********//

.fullscreen-modal .modal-wrapper{
    height: 100% !important;
    width: 100% !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
//********  top ***********//
    .from-top-modal .modal-wrapper {
        height: 20%;
        bottom: 80%;
        position: absolute; 
        display: block;  
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }


    //******** bottom  ***********//
    .from-bottom-modal .modal-wrapper {
        height: 40%;
        
        top: 60%;
        position: absolute; 
        display: block;  
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }


    .small-modal .modal-wrapper {
        width: 90%; 

        height: 40%;
        
        top: 60%;
        position: absolute; 
        display: block;  
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }


//*************************************//
//******** Custom Styles ***********//
//*************************************//

.avatar-none{
    background-color: white; 
    border: 1px solid black;
}

.text-align-right {
    text-align: right;
}
