<!-- my-modal.page.html -->
<ion-header>
    <ion-toolbar color="danger">
        <ion-title>Create new post</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <form [formGroup]="formGroup" (ngSubmit)="createPost()">
            <ion-item lines="full">
                <ion-input type="text" formControlName="text" placeholder="Say something!" required></ion-input>
            </ion-item>
            <ion-item *ngIf="fileUrl">
                <ion-grid>
                    <ion-row>
                        <ion-img style="max-height: 300px;" [src]="fileUrl"></ion-img>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col size="2" style="--ion-grid-column-padding: 0px;">
                            <input #fileInput style="display: none;" type="file" accept="image/*"
                                (change)="onFileChange($event)">
                            <ion-button expand="block" fill="clear" color="primary" class="msg-btn"
                                (click)="fileInput.click()">
                                <ion-icon name="attach-outline" slot="icon-only"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <br />
            <!-- Error messages -->
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.text.errors?.required">
                Name is required.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.text.errors?.minlength">
                Name should be min 2 chars long.
            </span>
            <ion-row>
                <ion-col size="12">
                    <ion-button expand="block" type="submit">Publish</ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-list>

</ion-content>